/*------------------------------------
  Card
------------------------------------*/
.product-item {
    position: relative;
    display: flex;

    &__footer {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        &:hover {
            .product-item__inner:not(.remove-prodcut-hover) {
                position: absolute;
                width: 100%;
                height: auto;
                min-height: 100%;
                box-shadow: 0px 0px 6px 0px rgba(1, 1, 1, 0.3);
                background-color: $white;
                z-index: 1;
            }
            
            .main-product-item__outer:not(.remove-prodcut-hover) {
                min-height: 548px;
            }

            .product-item__footer {
                display: block;
            }
        }
    }

    &__title {
        font-size: ($font-size-base * .857); //12px
        line-height: $font-size-base; //14px

        @include media-breakpoint-up(lg) {
            font-size: $font-size-base; //14px
            line-height: 1.125rem; //18px
        }

        @include media-breakpoint-up(md) {
            a {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        @include media-breakpoint-up(xl) {
            a {
                min-height: 2.25rem;
            }
        }
    }

    &__list {
        @include media-breakpoint-up(xl) {
            .product-item__title a {
                min-height: 100%;
            }
        }
    }
}

.products-group-4-1-4,
.products-group-8-1 {
    @include media-breakpoint-up(xl) {
        .products-group-1 {
            &__body {
                height: 100%;
            }

            .product-item__title a {
                min-height: 100%;
            }

            .product-item {
                &:hover {
                    .product-item__inner {
                        height: calc(100% + 35px);
                    }

                    .product-item__body {
                        height: calc(100% - 28px);
                    }
                }
            }
        }
    }
}

.add-accessories {
    &::before {
        content: '+';
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.3;
        height: 2.188rem;
        width: 2.188rem;
        background-color: $white;
        border-radius: 50%;
        top: 50%;
        left: -1.125rem;
        display: inline-block;
        text-align: center;
        transform: translateY(-50%);

        @include media-breakpoint-up(md) {
            border: 1px solid $gray-80;
        }
    }
}

.about-accordion {
    .card-collapse:hover {
        background-color: transparent;
    }

    .card-btn {
        span {
            padding: 0.594rem 0.798rem;
        }

        i {
            color: $gray-43000;
        }

        .fa-minus {
            display: none;
        }
    }

    .card-btn[aria-expanded="false"] {
        border-bottom-width: 0;
    }

    .card-btn[aria-expanded="true"] {
        font-weight: $font-weight-bold;

        .fa-plus {
            display: none;
        }

        .fa-minus {
            display: block;
            color: $body-color;
        }

        span {
            background-color: $primary;
            border-color: $primary !important;
            padding: 0.781rem 0.798rem;
        }
    }
}
