.hover-tab:hover {
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in-out;
}

.gray-btn {
    border-color: #333e48;
}

.gray-btn:hover {
    background-color: #333E48;
    color: #FFFFFF;
}

@media only screen and (min-width: 1200px) and (max-width: 1479px) {
    .new-fs {
        font-size: 30px !important;
    }
}

.custom-modal {
    max-width: 690px;
}

.max-height-130 {
    max-height: 130px;
}

.w-250 {
    width: 250px;
}

.height-75 {
    height: 4.375rem;
}

.mw-690 {
    max-width: 690px;
}

.search-container {
    min-height: 400px;
}

.min-w-120 {
    @include media-breakpoint-down(md) {
        min-width: 120px !important;
    }
}

#sidebarNav{
    li{
        a{
            white-space: normal;
        }
    }
}

.notification {
    width: 500px;
    margin: 0 auto;

    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    @include media-breakpoint-down(md){
        border-radius: 0;
        width: 100%;
        margin: 0 auto;
        right: auto;
        left: auto;
    }
}

.success {
    background-color: #4CAF50;
    color: white;
}

.notification.show {
    z-index: 9999;
    opacity: 1;
}

.custom-control-input {
    position: absolute;
    z-index: 1;
    top: 5px;
    opacity: 0;
    width: 100px;
    height: 20px;
    left: 0;
}

.product-item{
    margin-bottom: 35px;

    .product-params{
        height: 160px;
        overflow-x: hidden;
    }
}

.product-category{
    height: 45px;
}

.home-slider{
    .js-slide{
        min-height: 422px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

#sliderSyncingThumb{
    img{
        height: 50px;
    }
}

.product-brand{
    margin-top: 10px;
    margin-bottom: 10px;

    img{
        min-width: 50px;
        height: 35px;
        object-fit: contain;
    }
}

.btn-send-manager{
    margin-left: 10px;
    color: white !important;
}

.product-params{
    font-size: 12px;
}
.u-header__sub-menu-title {
    .title-link {
        color: #1e2022;
    }
    .title-link:hover {
        color: #fed700;
    }
}

.br-17 {
    border-radius: 17px;
}

.lh-1rem {
    line-height: 1rem;
}

.lh-1dot5rem {
    line-height: 1.5rem;
}

.last-p-margin-0 {
    p:last-of-type {
        margin-bottom: 0;
    }
}

.border-color-yellow {
    border: solid 1px #fed700;
}

.no-hover-green {
    color: #38c172;
}

.cart-table{
    .rounded-pill{
        padding: 8px;
    }
}

.h-fit-content {
    height: fit-content;
}

@media screen and (max-width: 575px) {
    .sm-font-size-36 {
        font-size: 36px;
    }

    .search-result-heading{
        font-size: 24px;
    }
}

.text-color-special {
    color: #333E48;
}

.phone {
    font-size: 1rem;
}

#filterFrm,
.filterFrm {
    .chosen {
        padding: .375rem;
        max-width: 100%;
    }
    .chosen-container {
        .chosen-choices {
            border: 1px solid #ececec !important;
            border-radius: 0.375rem;
        }
        .chosen-drop {
            border: none;
            border-radius: 0.375rem;
        }
    }
}

#recommended{
    li{
        min-height: 252px;
    }
}

.remove-wishlist-mobile{
    display: none;
}

.img-categories-box {
    width: auto;
    height: 45px;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
}

.img-categories {
    opacity: .35;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
}

.img-categories:hover {
    background-color: #e5c100;
}

.img-infographic-box {
    width: auto;
    height: 40px;
    margin-right: 1rem;
}

.img-infographic {
    width: auto;
    height: auto;
}

.text-infographic-box {
    width: 200px;
}

.title-infographic {
    color: #343F49;
    text-align: start;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.text-infographic {
    color: #343F49;
    text-align: start;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin-bottom: .5px !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 22px;
    background-color: #D9D9D9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider-ru {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 22px;
    background-color: #D9D9D9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider-ru:before {
    content: "";
    height: 16px;
    width: 16px;
    bottom: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.slider:before {
    content: "";
    height: 16px;
    width: 16px;
    bottom: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
}

body .text-switch-ru {
    position: absolute;
    font-size: 0.625rem !important;
    margin-left: 1px;
    font-weight: 600;
    color: #333e48 !important;
}

body .text-switch {
    position: absolute;
    font-size: 0.625rem !important;
    font-weight: 600;
    margin-left: 22px;
    color: #333e48 !important;
}

.option-container {
    display: flex;
    flex-wrap: wrap;
}

.option-button {
    height: 38px;
    width: 20px;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.thickness-select .btn-outline-secondary {
    background-color: white;
    border: 1px solid #03A400;
    color: #8F8F8F;
}

.thickness-select .btn-outline-secondary:not(:disabled):not(.disabled):active, .thickness-select .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .thickness-select .btn-outline-secondary.dropdown-toggle {
    background-color: #03A400;
    border: 1px solid #03A400;
}

.color-filter-icon {
    color: #FED700;
}

.color-filter {
    background-color: #ffffff;
    border-radius: 0.563rem;
    margin-left: .625rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
}

.lang-indicator {
    position: absolute;
    border-radius: 50%;
    background-color: #333e48;
    color: #ffffff;
    height: 20px;
    width: 20px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    margin-top: -.25rem;
    cursor: pointer;
}

.option-text {
    margin-top: -.5px;
}

.notification-block {
    font-size: .725rem;
} 

.form-control {
    font-weight: 500;
}

.form-calc input::-webkit-inner-spin-button {
    display: none !important;
}

.option-container .option-button {
    cursor: pointer !important;
}

.u-header-collapse__nav .u-header-collapse__submenu {
    border-bottom: .5px solid rgba(51, 62, 72, 0.4);
    padding-top: 0;
    padding-bottom: 0;
}

.u-header-collapse__nav .u-header-collapse__nav-link:hover {
    background-color: rgba(254, 216, 0, 0.25);
    font-weight: 600;
    color: #191f24;
}

.u-header-collapse__nav .u-header-collapse__nav-pointer {
    background-color: rgba(254, 215, 0, 0.5);
}

.u-header-collapse__nav .u-header-collapse__nav-pointer:hover {
    background-color: rgba(254, 215, 0, 0.5);
}

.u-header-collapse__nav .u-header-collapse__submenu:first-child {
    border-top: .5px solid rgba(51, 62, 72, 0.4);
    margin-top: .5rem;
}


.addToWishListBtn, .addToCompareBtn{
    border: none;
    background: transparent;
}

.u-header-sidebar__content {
    padding: unset !important;
}

.u-header-sidebar__header {
    padding: 1rem 2rem 0rem 2rem;
}

.u-header-collapse__nav-list li:hover {
    background-color: rgba(254, 215, 0, 0.25);

    .u-header-collapse__submenu-nav-link {
        font-weight: 600 !important;
        color: #191f24 !important;
    }
}

.u-header-collapse__submenu-nav-link {
    padding-top: .725rem;
    padding-bottom: .725rem;
    color: #333e48;
    line-height: 1.4;
    font-weight: 400;
    font-size: 1rem;
}

.u-header-collapse__nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
    justify-content: start;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    width: auto;
    padding-top: .725rem;
    padding-bottom: .725rem;
}

.u-header-collapse__nav-link::after {
    font-size: .625rem;
    content: "\f054" !important;
    margin-left: .35rem !important;
    margin-top: 4px;
}

.u-header-collapse__nav .u-header-collapse__submenu-nav-link {
    border-bottom: .5px solid rgba(51, 62, 72, 0.4);
    padding-left: 1rem;
}

.u-header-collapse__nav .u-header-collapse__submenu-nav-link:first-child {
    border-top: .5px solid rgba(51, 62, 72, 0.4);
}

.u-header-collapse__nav .u-header-collapse__submenu-nav-link:last-child {
    border-bottom: unset;
}

.u-header-collapse__nav-list {
    padding-left: 0 !important;
}

.u-header-collapse__nav-link .u-header-collapse__nav-list {
    padding-left: .5rem;
    padding-right: .5rem;
}

.u-header-collapse__submenu .u-header-collapse__nav-list {
    border-left: 4px solid #FED700 !important;
}

#sidebarHeader1 .navbar-nav__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    background-color: #F8F8F8;
    min-height: 184px !important;
    height: 184px !important;
    z-index: 12;
}

.body .mobile-menu__category-open {
    top: 0 !important;
    height: auto !important;
}

.mCSB_container {
    height: 100% !important;
    overflow: hidden;
}

.u-unfold-opened {
    overflow: hidden;
}

#sidebarHeader1 .u-header-sidebar__content {
    max-height: 255px;
}

.mCSB_container .u-header-collapse__open-subnav {
    height: 100% !important;
    max-height: unset !important;
    min-height: unset !important;
}

.space-block {
    height: calc(100% - 439px);
    position: relative;
    z-index: 1;
    background-color: white;
}

.space-block-active {
    height: calc(100% - 685px);
}

.mCSB_container {
    height: 100vh;
}

.quantity-card {
    max-width: 180px;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.border-left-cart {
    border-left: 1px dashed rgba(231, 234, 243, 0.5) !important;
    text-align: center !important;
}

.border-bottom-cart {
    border-bottom: 1px dashed rgba(231, 234, 243, 0.5) !important;
}

.border-bottom-cart:last-child {
    border-bottom: unset !important;
}

.table thead th {
    border-bottom: 1px dashed rgba(231, 234, 243, 0.5) !important;
}

.body .border-left-cart-product {
    text-align: left !important;
}

.cart-table .table tbody tr:first-child td, .wishlist-table .table tbody tr:first-child td {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.quantity-card-block {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.remove-cart-block {
    display: none;
}

#sidebarContent1 .filter-mob-menu {
    max-height: unset !important;
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0,0,0,0) !important;
}

#mCSB_2_scrollbar_vertical {
    position: relative;
    z-index: -1;
    margin: unset !important;
}

#mCSB_1_scrollbar_vertical {
    position: relative;
    z-index: -1;
    margin: unset !important;
}

.button-close__mob-menu {
    z-index: 9;
    background-color: transparent !important;
}

.body .mobile-menu__category-open-block {
    max-height: unset !important;
    height: auto !important;
}

.body #mCSB_1_dragger_vertical {
    height: 0 !important;
    display: none !important;
}

.body #mCSB_2_dragger_vertical {
    height: 0 !important;
    display: none !important;
}

.collapsing {
    transition: height 0s ease !important;
}

.body .u-sidebar {
    width: 100%;
    background-color: transparent;
    box-shadow: unset;
}

.body .u-sidebar__scroller {
    width: 18.75rem;
    background-color: #fff;
    box-shadow: 13px 0 20px rgba(119, 131, 143, 0.08);
}

.body .u-header-collapse__nav-link::after {
    color: transparent;
}

.body .u-header-collapse__nav-pointer::after {
    color: #333e48 !important;
}

.body {
    overflow-x: hidden;
}

select:is([size], [multiple]), select[size][multiple] {
    border-top-width: unset !important;
    border-right-width: unset !important;
    border-bottom-width: unset !important;
    border-left-width: unset !important;
    border-top-style: unset !important;
    border-right-style: unset !important;
    border-bottom-style: unset !important;
    border-left-style: unset !important;
    border-top-color: unset !important;
    border-right-color: unset !important;
    border-bottom-color: unset !important;
    border-left-color: unset !important;
    border-image-source: unset !important;
    border-image-slice: unset !important;
    border-image-width: unset !important;
    border-image-outset: unset !important;
    border-image-repeat: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
    border: 1px solid #dddddd !important;
    border-radius: 0.375rem !important;
}

.cookies-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 15px 15px 0px 0px;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    color: #343F49;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
}

.button-good {
    border: .5px solid;
    border-color: #343F49 !important;
    padding: 5px 15px 5px 15px !important;
    color: #333E48;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-good:hover {
    font-size: 13px;
    font-weight: 700;
    padding: 5px 12px 5px 12px !important;
    background-color: #fed700 !important;
}

.cookies-text {
    padding-top: 15px;
    padding-bottom: 15px;
}

.slick-initialized .slick-slide {
    padding-left: 2px;
    padding-right: 2px;
}

@media only screen and (max-width: 1200px) {
    .cookies-text {
        max-width: 800px; 
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .cookies-block {
        display: block;
    }

    .button-good {
        margin-bottom: 1rem;
    }

    .cart-table .table thead, .wishlist-table .table thead {
        display: none;
    }
    
    .border-left-cart {
        border-left: unset !important;
    }

    .border-bottom-cart {
        border-bottom: 1px solid rgba(231, 234, 243, 1) !important;
    }

    .cart-table .table tr, .wishlist-table .table tr {
        display: block;
    }

    .cart-table .table tr td, .wishlist-table .table tr td {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart-table .table tr td::before, .wishlist-table .table tr td::before {
        content: attr(data-title) ": ";
    }

    .border-left-cart {
        border-bottom: 1px dashed rgba(231, 234, 243, 0.5) !important;
    }

    .border-left-cart:last-child {
        border-bottom: unset !important;
    }

    .cart-table .table tr td:last-child::before {
        display: none;
    }

    .remove-cart-block {
        display: flex;
        font-size: .725rem;
        margin-left: .5rem;
    }

    .quantity-card {
        max-width: unset !important;
    }

    .quantity-card-block {
        margin-left: unset !important;
        margin-right: unset !important;
    }

    .cart-table .table tbody tr:first-child td, .wishlist-table .table tbody tr:first-child td {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    .cart-table .table tbody tr:not(:first-child) td:first-child, .wishlist-table .table tbody tr:not(:first-child) td:first-child {
        margin-top: 1.5rem;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .border-bottom-cart {
        border-bottom: unset !important;
    }
    
    .cart-table .table tbody tr td:first-child, .wishlist-table .table tbody tr td:first-child {
        justify-content: center;
    }

    .border-left-cart-product {
        display: block !important;
    }

    .prodcut-add-cart{
        display: inline-flex;
        gap: 20px;
    }

    .remove-wishlist-mobile{
        display: inline-flex;
        color: #ffffff !important;
        background-color: #de4437 !important;
        width: 2.188rem;
        height: 2.188rem;
    }

    .quantity-card {
        max-width: unset;
    }

    .quantity-card-block {
        margin-left: 2.5rem;
    }
}

@media only screen and (max-width: 374px) {
    .price-block, .cheapest-block, .block-adaptive {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center !important;
        text-align: center;
    }

    .block-adaptive {
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .block-adaptive:first-child { 
        margin-bottom: .75rem;
        margin-top: .5rem;
    }

    .box-adaptive {
        display: block !important;
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .cheapest-block {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .cheapest-block #myDiv {
        width: 100%;
    }
}

@media only screen and (max-height: 689px) and (max-width: 375px){
    .mCSB_container .u-header-collapse__open-subnav {
        height: auto !important;
    }

    #sidebarHeader1 .navbar-nav__footer {
        position: relative !important;
        top: unset !important;
    }
}

@media only screen and (max-height: 545px) and (max-width: 926px) {
    .mCustomScrollBox {
        max-height: unset !important;
        height: auto;
    }
}