<template>

</template>

<script>
export default {
    props: ['product_id'],

    data(){
        return{
            quantity: 1
        }
    },

    mounted() {
    },
    computed: {},
    methods: {
        addToCart(product_id) {
            this.$store.dispatch('addToCart', {'id': product_id, 'q': this.quantity});
        }
    }
}
</script>
