<template>
    <div class="mb-10 cart-table">
        <table class="table" cellspacing="0">
            <thead>
                <tr>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name text-center">{{ $t('product') }}</th>
                    <th class="product-price text-center">{{ $t('price') }}</th>
                    <th class="product-quantity text-center">{{ $t('quantity') }}</th>
                    <th class="product-subtotal text-center">{{ $t('total') }}</th>
                    <th class="product-remove">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, k) in $store.getters.cartProducts" v-if="this.getAllAmount > 0" class="border-bottom-cart">
                    <td :data-title="$t('photo')">
                        <div>
                            <a :href="product.slug">
                                <img
                                    class="img-fluid max-width-100 p-1"
                                    :src="product.photo">
                            </a>
                        </div>
                    </td>

                    <td :data-title="$t('product')" class="border-left-cart border-left-cart-product pl-3 pr-3">
                        <div class="d-block">
                            <a :href="product.slug" class="text-gray-90">{{ product.name }}</a><br />

                            <small v-if="product.thickness">{{$t('thickness')}}: {{ product.thickness }}</small>
                        </div>
                    </td>

                    <td :data-title="$t('price')" class="border-left-cart pl-3 pr-3">
                        <div class="d-flex align-items-center">
                            <span v-if="this.isRoundByList(product) || this.isRoundByBox(product)" v-html="this.getPrice(product)" class="text-nowrap mr-1"></span>
                            <span v-if="this.isRoundByList(product) || this.isRoundByBox(product)"
                                class="font-size-14 text-nowrap mr-1">{{ product.currency_price_valute }}</span>

                            <span v-if="this.isRollProduct(product) || this.isPieceProduct(product)" v-html="product.price" class="text-nowrap ml-1"></span>
                            <span v-if="this.isRollProduct(product) || this.isPieceProduct(product)" class="font-size-14 text-nowrap ml-1">{{ product.currency_price_valute }}</span>
                        </div>
                    </td>

                    <td :data-title="$t('quantity')" class="quantity-card border-left-cart">
                        <div>
                            <span class="sr-only">{{ $t('quantity') }}</span>
                        </div>

                        <div class="d-block quantity-card-block ">
                            <!-- Quantity -->
                            <div class="border rounded-pill py-1 px-3 border-color-1 order-3 order-md-2 h-fit-content mr-auto ml-auto">
                                <div class="js-quantity row align-items-center">
                                    <div class="col pr-1">
                                        <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none"
                                            type="text" v-model="product.quantity" @keyup="this.changeQuantity(product)">
                                    </div>
                                    <div class="col-auto pr-1 pl-1">
                                        <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        href="javascript:void(0);" @click="this.decQty(product)">
                                            <small class="fas fa-minus btn-icon__inner"></small>
                                        </a>
                                        <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0"
                                        href="javascript:void(0);" @click="this.incQty(product)">
                                            <small class="fas fa-plus btn-icon__inner"></small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Quantity -->
                            <div class="mr-auto ml-auto">
                                <div v-if="this.getPlaceholderText(product) !== ''" class="rounded-pill text-center height-44 text-gray-9 font-size-11 border-color-yellow mt-3">
                                    <p class="mb-0">{{ this.getPlaceholderText(product) }}</p>
                                    <p class="mb-0">{{ this.getPlaceholderTextSecond(product) }}</p>
                                </div>
                            </div>

                            <div class="text-gray-9 font-size-14 mr-auto ml-auto mt-2">
                                <p v-if="this.isListProduct(product) || this.isListXpsProduct(product) || this.isRollProduct(product)" class="text-center text-green mb-1" v-html="`${ this.getArea(product) } ${ $t('price_square') }`"></p>
                                <p v-if="this.isListProduct(product) || this.isListXpsProduct(product)" class="text-center text-green mb-1" v-html="`${ this.getSurface(product) } ${ $t('price_cubic') }`"></p>
                            </div>
                        </div>
                    </td>

                    <td :data-title="$t('total')" class="border-left-cart pl-3 pr-3">
                        <span class="text-nowrap">{{ this.getProductTotal(product) }}</span>
                    </td>

                    <td class="border-left-cart pl-4 pl-lg-5 pr-4 justify-content-center">
                        <a @click="this.removeCart(product)" href="javascript:void(0);" class="text-gray-32 font-size-26 d-flex align-items-center">
                            <span>×</span>
                            <span class="remove-cart-block">{{ $t('remove') }}</span>
                        </a>
                    </td>
                </tr>
                <tr v-else>
                    <td colspan="5">{{ $t('no_products') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-8 cart-total" v-if="this.getAllAmount > 0">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="border-bottom border-color-1 mb-3">
                    <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">{{ $t('cart_totals') }}</h3>
                </div>
                <table class="table mb-3 mb-md-0">
                    <tbody>
                    <tr class="cart-subtotal">
                        <th>{{ $t('total_volume') }}</th>
                        <td><span class="amount"></span> <span v-html="`${this.getAllSurface} ${$t('price_cubic')}`"></span></td>
                    </tr>
                    <tr class="cart-subtotal">
                        <th>{{ $t('total_weight') }}</th>
                        <td><span class="amount"></span>{{ this.getAllWeight }} {{ $t('total_weight_units') }}</td>
                    </tr>
                    <tr class="order-total font-size-16">
                        <th>{{ $t('total_price') }}</th>
                        <td>
                            <strong>
                                <span class="amount"></span>
                                {{ this.getAllAmount }} {{ $t('total_price_units') }}
                            </strong>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 d-flex flex-column-reverse flex-md-row align-items-md-end justify-content-md-end">
                <a :href="this.checkout_route"
                   class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-md-inline-block">{{ $t('do_order') }}</a>

                <a href="javascript:void(0);" @click.prevent="this.showCheckoutManagerFrm()"
                   class="btn btn-secondary btn-send-manager ml-0 ml-md-3 mb-3 mb-md-0 font-weight-bold px-5 px-md-4 px-lg-5 w-100 w-md-auto">{{ $t('do_manager_order') }}</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['checkout_route', 'checkout_manager_route', 'currency'],

    data() {
        return {}
    },

    mounted() {
        this.$store.dispatch('getCartInfo');
    },

    computed: {
        getAllAmount() {
            return Number(this.$store.getters.cartAmount).toFixed(2);
        },

        getAllWeight(){
            return Number(this.$store.getters.cartWeight).toFixed(2);
        },

        getAllSurface(){
            return Number(this.$store.getters.cartSurface).toFixed(4);
        },
    },

    methods: {
        isListProduct(product) {
            return product.product_type === 1;
        },

        isRollProduct(product) {
            return product.product_type === 2;
        },

        isPieceProduct(product) {
            return product.product_type === 3;
        },

        isListXpsProduct(product) {
            return product.product_type === 4;
        },

        isRoundByPiece(product){
            return product.round_by === 1;
        },

        isRoundByList(product) {
            return product.round_by === 2;
        },

        isRoundByRoll(product){
            return product.round_by === 3;
        },

        isRoundByBox(product) {
            return product.round_by === 4;
        },

        getArea(product){
            return Number(product.area * product.quantity).toFixed(2);
        },

        getSurface(product){
            let surface = product.surface * product.quantity;

            if(product.num_in_box_surface){
                surface = product.num_in_box_surface * product.quantity;
            }

            return Number(surface).toFixed(4);
        },

        getPlaceholderText(product) {
            if(this.isListProduct(product)){
                if(this.isRoundByBox(product)){
                    if(product.num_in_box_thickness !== ''){
                        return this.$t('placeholder_list');
                    }else{
                        return this.$t('placeholder_box');
                    }
                }
            }

            return product.placeholder_text || '';
        },

        getPlaceholderTextSecond(product) {
            if(this.isListProduct(product)){
                if(this.isRoundByBox(product)){
                    if(product.num_in_box_thickness !== ''){
                        return this.$t('placeholder_list_second', {'x': product.num_in_box_thickness});
                    }else{
                        return this.$t('placeholder_box_second', {'x': product.num_in_box});
                    }
                }
            }

            return product.placeholder_text || '';
        },

        showCheckoutManagerFrm(){
            $("#checkoutManagerFrm").modal('show');
        },

        changeQuantity(product){
            this.$store.dispatch('changeCartQuantity', product);
        },

        incQty(product) {
            if (this.isRoundByBox(product)) {
                let num_in_box = product.num_in_box_thickness;
                if(num_in_box){
                    product.quantity += num_in_box;
                }else{
                    product.quantity += product.num_in_box;
                }
            } else {
                product.quantity++;
            }

            this.$store.dispatch('changeCartQuantity', product);
        },

        decQty(product) {
            if (this.isRoundByBox(product)) {
                let num_in_box = product.num_in_box_thickness;
                if(num_in_box){
                    product.quantity > num_in_box ? product.quantity -= num_in_box : product.quantity;
                }else{
                    product.quantity > product.num_in_box ? product.quantity -= product.num_in_box : product.quantity;
                }
            } else {
                product.quantity > 1 ? product.quantity-- : product.quantity;
            }

            this.$store.dispatch('changeCartQuantity', product);
        },

        removeCart(product) {
            this.$store.dispatch('removeCart', product);
        },

        getPrice(product) {
            return Number(product.price).toFixed(2);
        },

        getProductTotal(product){
            return `${Number(product.quantity * product.price).toFixed(2)} ${this.currency}`;
        },
    }
}
</script>
