<template>
    <a :href="this.cart_route" class="text-gray-90 position-relative d-flex" data-toggle="tooltip" data-placement="top" :title="$t('cart')" :data-original-title="$t('cart')">
        <i class="font-size-22 ec ec-shopping-bag"></i>
        <span v-if="this.getAllQuantity > 0" class="width-22 height-22 bg-dark position-absolute flex-content-center text-white rounded-circle left-12 top-8 font-weight-bold font-size-12">
            {{ this.getAllQuantity }}
        </span>
    </a>
</template>

<script>
export default {
    props: ['cart_route'],

    data() {
        return {}
    },
    mounted() {
        this.$store.dispatch('getCartQuantity');
    },
    computed: {
        getAllQuantity() {
            return this.$store.getters.cartQty;
        }
    }
}
</script>
