<template>
    <div class="notification success" :class="{'show' : $store.state.showCartNotification}">
        {{ $t('added_to_cart') }}
    </div>

    <div class="notification success" :class="{'show' : $store.state.showWishListNotification}">
        {{ $t('added_wishlist') }}
    </div>

    <div class="notification success" :class="{'show' : $store.state.showCompareNotification}">
        {{ $t('added_compare') }}
    </div>
</template>
