.flex{
    display: flex;
}

.justify-content-around{
    justify-content: space-around;
}

.gap-10{
    gap: 10px;
}

table th {
    text-align: center;
}

table .visible {
    color: green;
}

table .unvisible {
    color: grey;
}

.padding-top-7 {
    padding-top: 7px;
    display: block;
}

.controls {
    font-size: 0;
    height: 20px;
    letter-spacing: -1px;
    line-height: 0;
    text-align: center;
    width: 100px;
}

.fullleft, .oneleft, .fullright, .oneright, #deletebutton {
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}

#deletebutton {
    background-image: url("/images/admin/delete.png");
    height: 16px;
    width: 16px;
}

.fullleft {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.oneleft {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -39px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.fullright {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -18px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.oneright {
    background: url("/images/admin/arrows-sprite.png") no-repeat scroll 0 -60px rgba(0, 0, 0, 0);
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.delete_features {
    float: right;
    cursor: pointer;

}

.btn-responsive {
    white-space: normal;
    word-wrap: break-word;
}

table.orders {
    font-size: 80%;
}

.widget-main .tab-content {
    border: 1px solid #c5d0dc;
}

.edit_order .nav-tabs > li > a {
    padding: 2px 8px 2px;
    font-size: 90%;
    line-height: 90%;
}

.white-td {
    border-width: 0px !important;
    background: white !important;
}

table.quantity {
    width: 100%;
    font-size: 90%;
    font-weight: normal;
}

.widget-body table.quantity thead tr {
    background: none !important;
}

.edit_order .tab-content {
    padding: 3px;
}

table.quantity td, table.quantity th {
    padding: 2px;
    border-right: 1px dotted #999;
    text-align: center !important;
    font-weight: normal;
    background: none;
}

table.quantity tbody tr {
    border-top: 1px dotted #999;
}

table.quantity select {
    height: 24px;
    padding: 0 2px;
}

.main-page .btn.btn-app {
    padding: 12px 5px 9px;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
}

input:disabled, textarea:disabled, option:disabled, optgroup:disabled, select:disabled:disabled {
    background: #ccc;
}

button.deletebutton {
    background: none;
    border: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: 0 0 !important;
}

.tag-input-style + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-color: rgba(0, 0, 0, .2) !important;
}

#photos ul.photos {
    margin-top: 15px;
}

#photos ul.photos li:first-child {
    /*margin-right: 20px*/
    position: relative;
}

/*
#photos ul.photos li:first-child > a:before{
    position: absolute;
    top: 0;
    left: -6px;
    width: 166px;
    background-color: rgba(0,0,0,.55);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    content: 'LOGO';
        display: flex;
    justify-content:center;
        font-size: 15px;
    letter-spacing: 1px;
    align-items:center;
    color: white;
}

#photos ul.photos li:first-child:hover > a:before{
        left: 24px;
}
*/

.ace-thumbnails > li {
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.margin-b-m-15 {
    margin-bottom: -15px;
}

.margin-t-m-15 {
    margin-top: -15px;
}


.ace-thumbnails.photos {
    margin-top: 15px;
}

.spinner-old {
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('images/ajax-loader.gif') 50% 50% no-repeat;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 50%;
    left: 50%;
    height: 66px;
    width: 66px;
    background: url(images/ajax-loader.gif) 50% 50% no-repeat;
}

.min-spinner {
    display: none;
}

.btn.btn-link.font-black {
    color: rgb(57, 57, 57) !important;
    text-decoration: none;
    cursor: default;
}

.btn.btn-link.font-black:hover {
    color: rgb(57, 57, 57);
}

.close-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
    padding: 5px 8px;
    cursor: pointer;
    color: rgb(91, 91, 91);
    background-color: white;
    border: 1px solid rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}

#ask_question .modal-content {
    padding: 30px 12% 30px;
}

#ask_question .modal-content .ask_title {
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
}

#ask_question .modal-content textarea {
    height: 150px;
    resize: vertical;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}

#ask_question .modal-content form > div {
    margin-top: 30px;
    display: block;
    text-align: right;
}

#ask_question .modal-content form .form-group.has-success textarea {
    border-color: #a8a8a8;
    color: #858585;
}

#ask_question .modal-content form .form-group.has-success textarea:focus {
    background-color: white;
}

@media (max-width: 767px) {
    #ask_question .modal-content {
        padding: 20px 6% 20px;
    }
}

.chosen-container-single .chosen-search:after {
    display: none;
}

.admin-red-filter {

    margin: 30px auto;
    float: none;
}

.admin-red-filter .form-group {
    margin-left: 0;
    margin-right: 0;
}


.admin-tyre-filter .form-group select {
    width: 100%;
    height: 34px;
}

.admin-tyre-filter .form-group input {
    width: 100%;
    height: 34px;
}

.admin-tyre-filter {
    margin-bottom: 30px;
}

.admin-tyre-filter .chosen-container-single .chosen-single {
    border-radius: 0;
    background: transparent;
    background-color: white;
    padding: 3px 0 4px 8px !important;
    border: 1px solid #d5d5d5;
    height: 34px;
    box-shadow: none;
}

.admin-tyre-filter .chosen-container-single .chosen-single div {
    padding-top: 4px;
}

div#tipDiv {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .2px;
    color: #000;
    background-color: white;
    padding: 2px;

    padding: 4px;
    width: 320px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-35 {
    margin-top: 35px;
}

#uploadifive-uploadifive_photos input[type=file] {
    cursor: pointer;
}

div#tipDiv {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .2px;
    color: #000;
    background-color: white;
    padding: 4px;
    width: 320px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

/*modal desserts begin */
#modalDesserts .container {
    display: flex;
    flex-wrap: wrap;
}

#modalDesserts .container .option_item {
    display: block;
    position: relative;
    width: 175px;
    height: 175px;
    margin: 10px;
}

#modalDesserts .container .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

#modalDesserts .option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

#modalDesserts .option_item .option_inner .icon {
    margin-bottom: 10px;
}

#modalDesserts .option_item .option_inner .icon .fab {
    font-size: 32px;
}

#modalDesserts .option_item .option_inner .name {
    user-select: none;
    margin-top: 10px;
}

#modalDesserts .option_item .checkbox:checked ~ .option_inner.option_green {
    border-color: #25d366;
    color: #25d366;
}

#modalDesserts .option_item .option_inner .tickmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

#modalDesserts .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
}

#modalDesserts .option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
}

#modalDesserts .option_item .option_inner.option_green .tickmark {
    border-color: #25d366 transparent transparent #25d366;
}

#modalDesserts .image {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10px;
}

#modalDesserts input[type=number] {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*modal desserts end */

.ace-thumbnails.photos img {
    object-fit: contain;
    -o-object-fit: contain;
}

.last-article {
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;
}

td.order-delivered {
    background-color: rgba(76, 175, 80, 0.25);
}

td.order-cancel-admin {
    background-color: rgba(139, 0, 0, 0.25);
}

td.order-cancel-user {
    background-color: rgba(255, 0, 0, 0.25);
}

td.order-cancel-not-paid {
    background-color: rgba(255, 0, 87, 0.25);
}

td.order-avans-wait {
    background-color: rgba(255, 210, 0, 0.3);
}

td.order-payment-wait {
    background-color: rgb(255, 106, 0, 0.3);
}

td.order-payment-error {
    background-color: rgba(208, 201, 67, 0.3);
}

td.order-in-work {
    background-color: rgba(0, 255, 217, 0.25);
}

td.order-in-process {
    background-color: rgba(0, 0, 255, 0.25);
}

.orders-tip-container {
    height: 40px;
}

.orders-tip-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filters {
    display: inline-block;
    margin-left: 25px;
}

.page-header h1 small.multiple-paths {
    margin: 0;
}

#saveOrderSettingsFrm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.mobile-actions {
    display: none;
}

.modal-dialog{
    width: 800px;
}

.notes-list{
    margin-top: 10px;
}

.note-name-widget{
    width: 88%;
    height: 30px;
    position: absolute;
    top: 4px;
}

.hidden-collapse{
    opacity: 0;
    cursor: pointer;
    width: 88%;
    display: block;
    height: 30px;
    position: absolute;
    top: 5px;
}

.btnAddNote{
    margin-top: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .table-responsive {
        width: 100% !important;
    }

    .table-orders td:nth-child(4) {
        width: 25%;
    }

    #dynamic-table_filter,
    #dynamic-table_filter label {
        display: flex;
    }

    #dynamic-table_filter {
        float: right;
    }

    #dynamic-table_filter label {
        align-items: center;
    }

    .datatable-footer {
        display: flex;
        flex-direction: column;
    }

    .datatable-footer .col-xs-6 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 3px;
    }

    .create-users-mobile {
        margin-right: 5px;
    }

    .create-users-mobile,
    .celebrations-users-mobile {
        width: 48%;
        float: left;
    }

    .filters {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .hidden-collapse{
        width: 70%;
    }

    .note-name-widget{
        width: 70%;
    }

    .mobile-actions {
        display: block;
        float: right;
    }

    .mobile-actions.abs {
        position: absolute;
        top: 7px;
        right: 5px;
    }
}

#dynamic-table .action-buttons{
    display: inline-block;
}

input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before {
    content: "ДА\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0НЕТ";
}

.faq-input-row{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.faq-question{
    background-color: rgb(246, 246, 246) !important;
}

.faq-answer{
    background-color: #daffda !important;
    margin-bottom: 15px;
}

.custom-width{
    display: flex;
    width: calc(100% / 5);
}

.custom-width.xps{
    width: calc(100% / 6);
}

.thickness-list{
    position: relative;
}

.thickness-list .btnDeleteThicknessRow{
    z-index: 1;
    position: absolute;
    left: 25px;
    top: 10px;
}

.thickness-list .btnDeleteThicknessRow.xps{
    left: 0.5%;
}

@media only screen and (min-width: 768px){
    .size-container{
        display: flex;
        flex-direction: column;
        width: 20%;
    }
}
